<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.1DProject"
        tools:targetApi="31">
        <activity
            android:name=".controller.AttractionActivity"
            android:exported="false"
            android:label="@string/title_activity_attraction"
            android:theme="@style/Theme.1DProject.NoActionBar" />
        <activity
            android:name=".controller.HomeActivity"
            android:exported="true"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.1DProject.NoActionBar" />
        <activity
            android:name=".controller.ExhibitScannerActivity"
            android:exported="true"
            android:label="@string/title_activity_exhibitScanner"
            android:theme="@style/Theme.1DProject.NoActionBar" />
        <activity
            android:name=".controller.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.1DProject.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.AuthActivity"
            android:exported="true"
            android:label="AuthenticationActivity"
            android:theme="@style/Theme.1DProject.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>